body{
  margin: 0; padding: 0;
  background-color: #0e1111;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-height: 350vh;
}
*{
  box-sizing: border-box;
}
.container{
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  /* border: 1px solid wheat; */
  gap: 1rem;
}
p{
  width: 30%;
  font-size: 1.2rem;
  color: wheat;
  opacity: 0; transform: translateY(50px) scale(1.1);
  transition: 1s ease-in-out;
  /* border: 1px solid red; */
  margin: 3rem auto;
  text-align: center;
}
.container .item{
  width: 200px; height: 200px;
  min-width: 300px;
  background-size: cover;
  opacity: 0; transform: translateY(50px) scale(1.05); 
  transition: 1s ease-in-out;
  /* border: 1px solid red; */
}
.item.fade{
  opacity: 1; transform: translateY(0) scale(1); 
}
p.fade{
  opacity: 1; transform: translateY(0) scale(1);
}
.container .item:nth-child(1){
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuIlg9172jMsDMgF9cppzLBbpMwTntLNgniQ&usqp=CAU') no-repeat center;
}
.container .item:nth-child(2){
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2GSftiaaV3uqt9eHukmHmxNU29R3LtbQvdg&usqp=CAU') no-repeat center;
}
.container .item:nth-child(3){
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4aNAibmpYUyJaHT_FLNwpPg9HE4WIv6nuOQID0bi7RG0d7WCXcbTF6qy8NCs4DgXpLTU&usqp=CAU') no-repeat center;
}
.container .item:nth-child(4){
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAwQAZ_qjz4tXPUQGQ1FB5RFz3PAyYPCozZw&usqp=CAU') no-repeat center;
}
.container .item:nth-child(5){
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-sDZMwuIvgDzX37sVbe5_RxEofHFzx5kjTA&usqp=CAU') no-repeat center;
}
.container .item:nth-child(6){
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQC3AoBjKswejqo8-k8ym64qU7WL8ympdT9kg&usqp=CAU') no-repeat center;
}